{% extends "base.html" %}

{% block content %}

<div class="container text-center mt-5">
    <h1 class="main-title">Welcome to the Infrastructure Management System</h1>
    <p class="sub-title">Please select your role to continue:</p>

    <div class="container mt-5">
        <div class="row">
            
            <div class="col-md-6 text-center">
                
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Student</h5>
                        <p class="card-text">Login as a student</p>
                        <a href="{{ url_for('student_login') }}" class="btn btn-primary">Student Login</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">Technician</h5>
                        <p class="card-text">Login as a technician</p>
                        <a href="{{ url_for('technician_login') }}" class="btn btn-primary">Technician Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
